/* Add CSS styling here */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 10px solid black; */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  line-height: 1.5;
  color: #344e41;
  background-color: #dad7cd;
}

h1 {
  font-size: 4.5rem;
  margin: 15px;
}

.links {
  /* height: 40px; */
  /* width: 50%; */
  margin: 15px;
  display: flex;
  gap: 30px;
  /* flex-grow: 4; */
  /* background-color: #588157; */

  /* Solid block around links */
}

.pineImg {
  width: 50%;
  height: auto;
}

.bio {
  display: flex;
  flex-direction: row;
  /* Two items on the same line */
}

.myName2 {
  margin: 15px;
  display: flex;
  align-self: center;
  /* Grayson and Shogan on same line */
}

/* Lorem picsum projects */

footer {
  /* lower on the page */
  /* Social Media icons */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
